.serviceDescription
    .serviceDescription__title.offer Как зарегистрироваться в Uber без номера телефона?
    .serviceDescription__text
        p <b><span>Uber</span></b> платформа для заказа такси, представленная в 76 странах и 596 городах по всему миру. С 2017 года сервис объединился с Яндекс.Такси.
        p С помощью мобильного приложения Uber можно заказывать такси, доставку еды и негабаритных грузов. Чтобы воспользоваться платформой, вам необходимо скачать приложение в App Store или Google Play и создать аккаунт с помощью мобильного номера.
        p Убер активно поощряет новых пользователей, <b>выдавая промокоды на первую поездку</b>. Если у вас уже есть аккаунт, то вы можете воспользоваться нашим сервисом, чтобы создать новую учетную запись и <b>регулярно использовать промокоды Uber.</b>
        p Так вы сэкономите деньги на поездках, но при этом сможете передвигаться по различным городам и странам с комфортом.

    .serviceDescription__numberList
        b Для этого вам понадобится:
        ol
            li Создать аккаунт в SMS-Activate;
            li Пополнить баланс кошелька;
            li Купить виртуальные номера.

    .serviceDescription__list
        b У временных номеров телефона есть свои преимущества:
        ul.text-list-Ul
            li низкая стоимость по сравнению с новыми SIM-картами;
            li не требуют ежемесячного обслуживания;
            li получение и использование номера производится онлайн;
            li получение скидок на поездки в Убер такси — регистрируйте новые аккаунты и используйте актуальные промокоды;
            li для приобретения не требуются паспортные данные.

    .serviceDescription__text
        p Подробную инструкцию как зарегистрироваться в СМС Активатор и пополнить баланс вашего аккаунта, вы можете найти <a href="#">здесь</a>. А сейчас расскажем, как зарегистрироваться в Uber без номера телефона.
        br
        br
        p *И дальше все как в приложенном документе. Там все хорошо разбито  *
