section.service
    ._container
        .service__body
            p <b>Команда SMS-Activate Заботится о своих клиентах, на данной странице вы можете ознакомиться с инстурциями по использованию сервисов, котррые мы предоставляем. Просто выберете интересующий вас сервис из представленных ниже или воспользуйтесь поиском.</b>
            p <b> Если у вас остались вопросы, обратитесь в техподдержку наши специалисты обязательно помогут вам!</b>

            .blog__search.service__search
                input.blog-search__input(placeholder='Поиск по статьям' type="search" name='blog')
                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M12.1223 10.9273C14.1911 8.27027 14.0042 4.42622 11.5617 1.98367C8.91678 -0.661223 4.62856 -0.661223 1.98367 1.98367C-0.661223 4.62856 -0.661223 8.91678 1.98367 11.5617C4.42622 14.0042 8.27027 14.1911 10.9273 12.1223C10.9387 12.1352 10.9506 12.1479 10.963 12.1603L14.5548 15.752C14.8854 16.0827 15.4214 16.0827 15.752 15.752C16.0827 15.4214 16.0827 14.8854 15.752 14.5548L12.1603 10.963C12.1479 10.9506 12.1352 10.9387 12.1223 10.9273ZM10.3644 3.18092C12.3481 5.16459 12.3481 8.38075 10.3644 10.3644C8.38075 12.3481 5.16459 12.3481 3.18092 10.3644C1.19725 8.38075 1.19725 5.16459 3.18092 3.18092C5.16459 1.19725 8.38075 1.19725 10.3644 3.18092Z', fill='#727272')

            .service__grid.service-grid
                .service-grid__element
                    .service-grid__title Uber
                    .service-grid__text Uber — платформа для заказа такси, представленная в 76 странах и 596 городах по всему миру. С 2017 года сервис объединился с Яндекс.Такси. С помощью мобильного приложения Uber можно заказывать такси, доставку еды и негабаритных грузов...
                    a.service-grid__more(href="#") Читать далее
                .service-grid__element
                    .service-grid__title Uber
                    .service-grid__text Uber — платформа для заказа такси, представленная в 76 странах и 596 городах по всему миру. С 2017 года сервис объединился с Яндекс.Такси. С помощью мобильного приложения Uber можно заказывать такси, доставку еды и негабаритных грузов...
                    a.service-grid__more(href="#") Читать далее
                .service-grid__element
                    .service-grid__title Uber
                    .service-grid__text Uber — платформа для заказа такси, представленная в 76 странах и 596 городах по всему миру. С 2017 года сервис объединился с Яндекс.Такси. С помощью мобильного приложения Uber можно заказывать такси, доставку еды и негабаритных грузов...
                    a.service-grid__more(href="#") Читать далее
                .service-grid__element
                    .service-grid__title Uber
                    .service-grid__text Uber — платформа для заказа такси, представленная в 76 странах и 596 городах по всему миру. С 2017 года сервис объединился с Яндекс.Такси. С помощью мобильного приложения Uber можно заказывать такси, доставку еды и негабаритных грузов...
                    a.service-grid__more(href="#") Читать далее
            include ./../../pug/blog/pagin