header.header
    ._container
        .body-header
            a.header__logo(href="/")
                img(src='img/icons/logo.svg' alt='logo')
            .header__menu.menu(data-da=".body-header,767,last")
                .menu__icon
                    span
                nav.menu__body
                    ul.menu__list
                        li
                            a.menu__link(data-goto='.vacancy' href='#') вакансии
                        li
                            a.menu__link(data-goto='.advantages' href='#') Наши преимущества
                        li
                            a.menu__link(data-goto='.about-us' href='#') о компании
                        li
                            a.menu__link.menu__link-or.popup-link(href='#popup_1') оставить заявку






