.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.body-header{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 100px  30px ;
  align-items: center;
  height: 60px;
  @include mq('tablet-990') {
    grid-template-columns: 70px  auto ;
    grid-gap: 15px;
    justify-content: space-between;
  }
  @include mq('tablet-wide') {
    grid-template-columns: 100px  auto ;
  }
  @include mq('desktop') {
    grid-template-columns: 160px  auto ;
    grid-gap: 132px;
    height: 123px;
  }
}
.header__logo{
  display: block;
  width: 100%;
  z-index: 3;
  img{
    max-width: 100%;
  }
}

.header-phone{
  z-index: 10;
}

.header-phone__link{
  color: $color_1;
  font-weight: 500;
}


body._pc{
  .header-phone__link{
    &:hover{
      color: $color_3;
    }
  }
  .header-mail__link{
    &:hover{
      text-decoration: none;
    }
  }
}

.stickytop {
  background: $color_2;
  .body-header{
    height: 80px;
  }
}

.menu-mobile{
  display: grid;
  grid-gap: 15px 5px;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;

  @include mq('tablet-990') {
    display: none;
  }
}
