.bonuses{
  padding: 15px 0;
}

.bonuses__text{
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 10px;
  min-height: 23px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: capitalize;
}