section.description
    ._container
        h1.description__title.title Партнерский софт
        .block-one
            h3.h3 Что такое партнёрский софт и для чего он нужен
            p <span><u><b>Партёрский софт</b></u></span>- это программы, которые гарантировано работают с sms-activate.ru и позволяют приобретать номера
                | в автоматическом режиме, а так же автоматизируют действия с сервисами.
            p <span>Ознакомится с кратким описанием сервиса можно нажав на значок слева от названия.</span>
            p <b>Переходя по ссылке партнёрского софта, вы можете выбрать нужный вам тариф и воспользоваться необходимой услугой </b>
        .block-two
            h3.h3 как выбрать и воспользоваться партнёрским софтом
            ol.text-list-Ol
                li  <b>Выбор сервиса</b>
                    ul.text-list-Ul
                        li <span>Вы можете выбрать 1 или несколько сервисов,</span> для это отметьте галочкой интересующие вас сервисы
                        li <span>Для удобства поиска</span> в начале списка сервисов добавлен поиск
                        li После того, как вы определились с сервисом нажмите на кнопку <span> <b>ПОКАЗАТЬ СТАТИСТИКУ</b></span>

                        li Если вы решили добавить/убрать сервис, так же отметьте/снимите отметку в списке сервисов и повторно нажмите на кнопку <span><b>ПОКАЗАТЬ СТАТИСТИКУ</b></span>

                li <b>Таблица партерского софта</b>
                    ul.text-list-Ul
                        li <span>После запроса статистики</span>  в таблице отобразятся все программы работающие с выбранными Вами сервисами
                        li <span>В столбце <b>УСПЕШНО</b></span> В столбце Успешно показанно количество успешных регистраций с использование данного софта.
                        li <span>В столбце <b>ОТМЕННО</b></span> показанно количество отмен номеров через программное обеспечение. Что говорит о его не самой высокой эффективности, Чем меньше отмен тем эффективней софт.
                        li <span>Слева от наименования софта</span> расположен значок дополнительной информации, нажав  на которой Вы сможете ознакомиться с кратким описанием софта, предоставленным производителем софта
                        li <span>После нажатия на кнопку <b>ПЕРЕЙТИ</b></span> вы будете перенаправлены на страницу софта для выбора тарифа, дальнейшего преобретения и использования программы.