.bonuses
    .bonuses__title.offer Дополнительные бонусы:
    ul
        li.bonuses__text(style="background-image: url('img/icons/castle.svg');") Ручная отмена блокировки в случае перебора номеров, чтобы избежать простоя!
        li.bonuses__text(style="background-image: url('img/icons/tel.svg');") Доступ к Telegram-консьержу, который упростит Вам работу с номерами!
        li.bonuses__text(style="background-image: url('img/icons/vip.svg');") Доступ к VIP-чату с элитой мира sms-активаций!
        li.bonuses__text(style="background-image: url('img/icons/pr.svg');") Номера со скидкой до 40%!