section.col2
    ._container
        .offer как получить максимум от программы лояльности?
        h4.h4  Итак, давайте разберём наглядно, как работает программа лояльности.
        .col2__body.col2-body
            .col2-body__text
                p Например, сегодня понедельник <b>2 августа</b> и самый среднестатистический Олег решил много зарабатывать или много экономить на активации аккаунтов сервисов при помощи наших виртуальных номеров.
                br
                p <b>Первое, с чего должен начать Олег.</b>  <br> Решить, на какую сумму еженедельно он сможет пополнять баланс, иначе он не сможет передвигаться по уровням, а чем выше уровень – тем выше процент. Итак, <span>Олег может пополнять баланс на 15000 рублей еженедельно</span>, он вносит первый платеж, стартует <b>с 5 Ранга Начального уровня</b> и получает 3% замороженного кешбэка.
            .col2-body__img
                img(src="img/img1.svg" alt="")

        .col2__body.col2-body.col2-body-revers
            .col2-body__img
                img(src="img/img2.svg" alt="")
            .col2-body__text
                p <b>Что дальше?</b> <br>Сегодня понедельник <b>9 августа</b> и <span>Олегу нужно подтвердить свой ранг</span>, он снова пополняет баланс на 15000 рублей. И наш сервис в ближайший понедельник <b>16 августа</b> присваивает Олегу <span>1 уровень, а это 4%.</span>
                br
                p Олег понял, что такая <span>система лояльности очень выгодна, если увеличивать свой ранг</span>. Предположим, что у нашего Олега всё тот же 5 Ранг, но уже 5 уровнь и 9% его не устраивают, потому что больше уже не будет.
                p Олег знает свои возможности и <b>стал пополнять баланс еженедельно на 30000</b>, в таком случае нас сервис присваивает ему <span>6 ранг и 5 уровень</span>, так он увеличил свой процент.

        .col2__body.col2-body
            .col2-body__text
                p <b>Осталось разморозить и можно тратить!</b>
                p Как мы помним, кешбэк, который получает Олег - заморожен. <br>Что делать?<br>  <span>Олег пополняет баланс каждую неделю на 30 000р, у него 6 ранг и 5 уровень, значит его кешбэк = 9,5% = 2850р.</span>
                p Чтобы его разморозить, Олег должен в течении 2х месяцев потратить на аренды и активации сумму, по которой начислен кешбэк, т.е 30 000р.
            .col2-body__img
                img(src="img/img3.svg" alt="")

        .col2__body.col2-body.col2-body-revers
            .col2-body__img
                img(src="img/img4.svg" alt="")
            .col2-body__text
                h4.h4 Что не стоит делать Олегу, чтобы сохранять результат.

                ol.text-list
                    li Прекращать пополнять баланс. <br> <span>Потому что тогда его ранг снова станет 1, а накопленные уровни сгорят. Придётся начинать сначала</span>
                    li Пополнять баланс на сумму меньше своего ранга <span>Потому что тогда его ранг уменьшится, а соответственноо и % кешбэка</span>
                    li Выводить деньги с баланса или переводить на другой аккаунт <span>Потому что тогда весь его замороженный кешбэк сгорит, а уровень станет начальным </span>

        h4.h4 <span>Вывод:</span> Стартуйте с любого ранга, если уверены, что сможете повторять сумму. Не пополняйте меньше, чтобы не потерять ранг. Ранги присваиваются каждый понедельник за предыдущую неделю. Будьте как Олег, только лучше.