section.col3
    ._container
        .col3__title.offer Преимущества для участников программы.
        .col3__body
            .col3__column.col3-column
                .col3-column__img
                    img(src="img/cashback.svg" alt="")
                .col3-column__text Максимальный <br> <span>кешбэк</span>

            .col3__column.col3-column
                .col3-column__img
                    img(src="img/insurance.svg" alt="")
                .col3-column__text Дополнительные <br><span>бонусы</span>

            .col3__column.col3-column
                .col3-column__img
                    img(src="img/progressive.svg" alt="")
                .col3-column__text <span>Номера со скидкой</span><br> до  40%