section.table
    ._container
        h2.offer Как получить кэшбэк до 20%?
        p Всё очень просто. <span>Достигай самого высого ранга и повышай уровень!</span>
        a.table__img(data-fancybox="demo" data-src="img/table.svg")
            img(src="img/table.svg" alt="")