.text
    h2.offer Как быстро увеличить кэшбэк?
    ol.text-ol
        li Пополнить баланс на большую сумму, чтобы получить более высокий ранг на начальном уровне!
        li Стабильно пополнять баланс на ту же сумму, что неделей ранее, чтобы повысить уровень и сохранить ранг!

    h2.offer Что такое Ранг?
    ul.text-ul
        li <b>Ранг</b> - Это сумма всех пополнений за календарную неделю. <b>Чем выше ранг, тем больше кэшбэк и дополнительных бонусов.</b>
        li <b>Если за календарную неделю Вы пополнили баланс на сумму ниже своего ранга</b>, то Ваш ранг уменьшится до соответствующей суммы пополнения, а уровень останется прежним.
        li <b>Если вы пополнили баланс на сумму более высокого ранга</b>, то перейдете <span>на один ранг выше.</span> а уровень останется прежним.

    h2.offer Что такое уровни?
    ul.text-ul
        li <b>Уровень</b> - это количество недель , в течении которых не прекращалось пополнение баланс на стабильную сумму
        li В течение календарной недели <b>будут суммироваться все Ваши поступления на баланс</b>
        li Уровень, присваивается каждый понедельник по результатам пополнений в течении предыдущей недели
        li <b>По результатам пополнений, вы можете либо продвинуться на уровень выше, либо остаться на присвоеном ранее</b>
        li Накопленный уровень возвращается на начальный в двух случаях:
            ul
                li Если суммарное пополнение баланса в течении календарной недели меньше 1000р.
                li Если Вы выведете деньги с баланса или переведете на другой аккаунт.

    h2.offer как и Когда начислится кэшбэк?
    ul.text-ul
        li <b>По сумме всех поступления на баланс</b> втечении календарной недели.
        li <span>В понедельник</span> (в начале след. недели) исходя из полученной суммы, Вам будет присвоен <b>Ранг и Уровень</b>, а так же начислится <b>замороженный кэшбэк</b>.
        li <b>Чтобы разморозить</b> его, Вам необходимо потратить на активации или аренду всю сумму, по которой вам был начислен кэшбэк.
        li <b>Если Вы выведете деньги с баланса или переведёте на другой аккаунт</b>, то весь замороженный кэшбэк сгорит.

    h2.offer как потратить кэшбэк?
    p.descript Весь размороженный <b>кэшбэк вы можете тратить на активации и аренду</b>, с некоторыми условиями:
    ul.text-ul
        li <span>Стоимость всей аренды за кэшбэк будет увеличена в 1.5 раза</span>
        li <span>Стоимость сервисов за кэшбэк входящих в ТОП-5 по популярности определенной страны, увеличена в 2 раза.</span>
        li <b>Кэшбэк нельзя вывести с сайта</b>, его можно потратить только на активации или аренду.
        li <b>Замороженный  и размороженный кэшбэк</b> полностью сгорает через 2 месяца с момента его начисления.
