.top
    .top__title.title Программа лояльности от sms-activate
    .top__sec.top-sec(style="background-image: url('img/bg.svg');")
        .top-sec__wr
            .top-sec__text Нас уже:
            .top-sec__number 41153
            a.top-sec__btn.button(href="#") Стать участником
    .h3 Совершайте активации и пополняйте баланс от тысячи рублей еженедельно и получайте
        span cashback до 20% и дополнительные бонусы.

    .h6 Стать участником может каждый!
    p Для этого вам нужно пополнить баланс на общую сумму от 1000 рублей за одну календарную неделю!

